<template>
  <p>Etape : {{ currentStep }}</p>
  <!--Step Indicators-->
  <div class="flex items-stretch gap-2">
    <div
        v-for="step in totalSteps()"
        :key="step"
        class="h-2 w-48 rounded"
        style="border: 1px solid;"
        :class="(step - 1 <= currentStep) ? 'bg-green-400' : 'bg-slate-500'">
    </div>
  </div>
  <div v-for="(fields, step) in steps" :key="step">
    <div v-if="step === currentStep">
      <div v-for="field in fields" :key="field">
        <div>
          <label>{{ field }}</label>
          <input type="text" @change="askGallica()" />
        </div>
      </div>
    </div>
  </div>
  <cdx-button action="default" type="primary" @click="previousStep()" v-if="!isFirstStep()">Précédent</cdx-button>
  <cdx-button action="progressive" type="primary" @click="nextStep()" :disabled="isLastStep()">Suivant</cdx-button>
</template>

<script>
import {CdxButton} from "@wikimedia/codex";

export default {
  name: "CreateBookView",
  components: {CdxButton},
  data() {
    return {
      currentStep: 0,
      steps: [
          ["gallica"],
          ["fichiers"],
          ["pikachu"]
      ]
    }
  },
  methods: {
    previousStep() {
      if (this.isFirstStep()) return;
      this.currentStep--;
    },
    nextStep() {
      if (this.isLastStep()) return;
      this.currentStep++;
    },
    totalSteps() {
      return this.steps.length;
    },
    isFirstStep() {
      return this.currentStep === 0;
    },
    isLastStep() {
      return this.currentStep === this.totalSteps() - 1;
    },
    askGallica() {
      console.log("fetching gallica");
      return 0;
    }
  }
}
</script>

<style scoped>

</style>