<template>
<header class="bg-green-400 border-b-8 border-grey-200 mb-4">
  <div class="flex">
    <div>
      <h1 class="inline-block text-slate align-middle text-3xl font-extrabold">Deja DjVu</h1>
    </div>
    <nav class="flex-grow">
      <ul class="flex justify-center text-slate text-2xl font-extrabold">
        <li class="p-4 hover:text-teal-500 underline"><router-link to="/">Home</router-link></li>
        <li class="p-4 hover:text-teal-500 underline"><router-link to="/">About</router-link></li>
        <li class="p-4 hover:text-teal-500 underline"><router-link to="/create-book">Create a book</router-link></li>
      </ul>
    </nav>
  </div>
</header>
</template>

<script>
export default {
  name: "TopBar"
}
</script>

<style scoped>

</style>