<template>
  <TopBar/>
  <router-view/>
</template>

<script>
import TopBar from './components/TopBar.vue'

export default {
  name: 'App',
  components: {
    TopBar
  }
}
</script>

<style>
@import "~@wikimedia/codex/dist/codex.style.css";
@import "~@wikimedia/codex-icons/dist/codex-icon-paths.less";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
