<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="Deja DjVu">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dejadjvu.toolforge.org/">
    <meta property="og:description" content="Deja DjVu">
</head>
<body>
    <noscript>
        <strong>Désolé, DejaDjVu ne fonctionne pas sans JavaScript. Veuillez l'activez s'il vous plaît.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    </body>
</html>
